<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}},</p>
  <p>You recently requested to reset your password for your user account. Click the button below to reset it. (If you didn't request this, you can safely delete this email.)</p>
  <p><a href="{{link}}/reset-password/{{user.reset_password_token}}">Reset your password</a></p>
  <p>Thanks,<br>
  The Sells API Team</p>
</div>
